<!--The content below is only a placeholder and can be replaced.-->
<div class="img">
<h1 class="neon" style="text-align: center"> Weather App</h1>
<div id="search-form_3">
    <input type="text" class="search_3" [(ngModel)]='city' placeholder="Enter city name"/>
    <input type="submit" class="submit_3" value="Search" (click)=getData()/>
</div>
</div>
<div *ngIf=conditional >
  <app-currentweather [current]='result.current' [loc]='result.location' [icon]='result.forecast.forecastday[0].day.condition.icon'
  [sunset]='result.forecast.forecastday[0].astro.sunset'>
  </app-currentweather>
 <div *ngFor=" let forecast of forecastday;let day of weekday">
  <app-nextdayweather [forecast]='forecast'></app-nextdayweather>
 </div>
</div>
<router-outlet></router-outlet>
